.director-movies-button {
    float:right;
}

.director-movie-list {
    margin-left: 0px;
}

.director-movie-list {
    @media (max-width: "575px"){
    margin-left: 0px;
    place-content: center;
    }
}

.director-movie-list {
    @media (max-width: "1420px"){
    margin-left: 0px;
    place-content: space-evenly;
    }
}

.some-movies-director {
    @media (max-width: "575px"){
    margin-left: 20px;
    }
}

.label {
    font-weight: bold;
}

.go-back {
    color: #007bff;
}

.go-back:hover {
    color: rgb(39, 94, 179);
}

.cards {
@media (max-width: "575px") {
    width: '20rem';
    }
    }

.cards {
@media (max-width: "360px") {
    width: '18rem';
    }
    }