.container {
    padding-top: 100px;
    margin-bottom: -50px;
}

.nav-button {
    display: flex;
    justify-content: flex-end;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    @media (max-width: "360px") {
      padding: 25px 15px 15px 15px;
    }  
}

.login-input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-button {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}