.movie-card-body {
    box-shadow: 0px 6px 6px -6px rgb(93, 93, 93);
  }

.movie-card-body {
    width: 16rem;

    @media (max-width: "575px") {
      width: 20rem;
    }
    @media (max-width: "360px") {
      width: 18rem;
    }

}

.card-image-height {
  height: 22rem;

  @media (max-width: "575px") {
    height: 27rem;
  }  
  
  @media (max-width: "360px") {
    height: 25rem;
  }

}

