.movie-poster {
    margin-left: 20px;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.media {
@media (max-width: "576px") {
    flex-direction: column-reverse;
    margin-left: 20px;
  }
  }

  .movie-poster {
    margin-top: 115px;
 @media (max-width: "992px") {
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
 }
}