.movie-poster {
    margin-left: 20px;
    margin-bottom: 20px;
    height: 25rem;
}

.label {
    font-weight: bold;
}

.star-toggle-off {
    cursor: pointer;
    outline: none;
    color: orange;
    margin-left: -5px;
    margin-bottom: 5px; 
    height: 25px;
    stroke:orange;
    stroke-width: 30px;
}

.star-toggle-off:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

.star-toggle-on {
    cursor:pointer;
    outline:none;
    color:white; 
    margin-left: -5px;
    margin-bottom: 5px;
    height: 25px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    stroke:orange;
    stroke-width: 30px;
}

.star-toggle-on:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

.media {
@media (max-width: "575px") {
    flex-direction: column-reverse;
    margin-left: 20px;
  }
  }

  .movie-poster {
    height: 32rem;
    margin-top: 115px;
 @media (max-width: "992px") {
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    align-self: center;
  }
 @media (max-width: "575px") {
  height: 27rem;
  width: 20rem;
  margin-left: -10px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
 }
 @media (max-width: "360px") {
  height: 25rem;
  width: 18rem;
 }
 
 }