.navbar-text {
    padding-right: 10px;
}

.movie-list-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%
}

.media {
    @media (max-width: "576px") {
        align-content: space-around;
      }
      }

.container {
    width: auto; 
    padding-right: 15px;
    padding-left: 15px;
}

.logout-button {
    margin-right: 10px;
}

