
.filter-input-styling {
    width: 240px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.movies-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
}

.movies-list {
    @media (max-width: "1420px"){
    margin-left: 0px;
    place-content: space-evenly;
    }
}
