.genre-card-body {
    box-shadow: 0px 6px 6px -6px rgb(93, 93, 93);
  }

.genre-movies-button {
    float:right;
}

.genre-movie-list {
    margin-left: 0px;
}

.genre-movie-list {
    @media (max-width: "575px"){
    margin-left: 0px;
    place-content: center;
    }
}

.genre-movie-list {
    @media (max-width: "1420px"){
    margin-left: 0px;
    place-content: space-evenly;
    }
}

.some-movies-genre {
    @media (max-width: "575px"){
    margin-left: 20px;
    }
}

.label {
    font-weight: bold;
}

.go-back {
    color: #007bff;
}

.go-back:hover {
    color: rgb(39, 94, 179);
}

.genre-card-body {
    width: 16rem;

    @media (max-width: "575px") {
      width: 20rem;
    }
    @media (max-width: "360px") {
      width: 18rem;
    }

}

.card-image-height {
    height: 22rem;
  
    @media (max-width: "575px") {
      height: 27rem;
    }  
    
    @media (max-width: "360px") {
      height: 25rem;
    }
  
  }