.profile-view {
    margin: auto;
    width: 90%;
  }

  .update-button {
    float: left;
  }

  .profile-movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .profile-movie-list {
    @media (max-width: "1200px"){
    margin-left: 0px;
    place-content: space-evenly;
    }
}
  
  
  .profile-movie-list {
      @media (max-width: "576px"){
      margin-left: 0px;
      place-content: center;
      }
  }
  
  
