.profile-view {
    margin: auto;
    width: 90%;
  }

  .profile-movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .profile-movie-list {
    @media (max-width: "1200px"){
    margin-left: 0px;
    place-content: space-evenly;
    }
  }
  
  .profile-movie-list {
      @media (max-width: "576px"){
      margin-left: 0px;
      place-content: center;
      }
  }

  .go-back-button {
    @media (max-width: "576px"){
    margin-top: 45px;
    }
    }

  .profile-form {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px 45px 15px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

  .profile-input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .update-button {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .delete-button {
    outline: 0;
    margin-top: 15px;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .fave-view-button {
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
  .profile-star {
    cursor: pointer;
    outline: none;
    color: orange;
    padding-top: 10px;
}
.profile-star:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}